.search-page {
  @include flex-column-center;
  margin-left: 4rem;
}

#search-grid {
  @include flex-column-center;
  margin-bottom: 3rem;
  text-align: center;
}

.search-info {
  font-size: 1.8rem;
  max-width: 80vw;
  font-weight: 100;
  text-align: center;
}

.search-image {
  width: 45vw;
  padding: 2.1rem;
}

.search-name {
  font-size: 3rem;
  margin: 0rem;
  color: black;
  opacity: 1;
  text-decoration: underline;
}

.search-subtitle {
  font-size: 1.5rem;
  padding: 0rem 2rem;
  font-weight: 200;
  color: white;
  opacity: 0.8;
}

.search-title {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin: 0.5rem;
}

.search-header {
  font-size: 3rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: lightblue;
}
.search-header-link:hover {
  text-decoration: underline;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 2rem auto;
}
#search-area {
  width: 60vw;
  height: 25vh;
  font-size: 1.5rem;
  margin: 3rem auto;
}

.submit-button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: color(primary-text-color);
  color: white;
  font-weight: 300;
}

@include largetablet {
  #search-area {
    width: 70vw;
    height: 15vh;
  }

  .search-form {
    width: 80vw;
  }
}

@include tablet {
  #search-area {
    width: 70vw;
  }

  .search-form {
    width: 80vw;
  }
}

@include mobile {
  #search-area {
    width: 75vw;
  }

  .search-form {
    width: 80vw;
  }

  .search-header {
    font-size: 2.5rem;
  }

  .search-info {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .search-page {
    margin-left: 0rem;
  }
}
