.search-header {
  font-size: 3rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: lightblue;
}
.search-header-link:hover {
  text-decoration: underline;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 2rem auto;
}
#search-area {
  width: 30vw;
  height: 10vh;
  font-size: 1.5rem;
  margin: 3rem auto;
}

.submit-button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: color(primary-text-color);
  color: white;
  font-weight: 300;
}
