@import "_mixins.scss";

@import "_palette.scss";

@import "_navbar.scss";

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: color(accent-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 2rem;
}

body::-webkit-scrollbar-track {
  width: 1.2rem;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.main-container {
  text-align: center;
  @include flex-column-center;
}

.main-title {
  font-size: 3rem;
  margin: 1.2rem 0rem;
}

.main-subtitle {
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.item-grid {
  padding: 1.5rem;
  background-color: color(secondary-text-color);
  width: 84vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1rem;
}

.item-card {
  position: relative;
  width: 17vw;
  height: 34vh;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  margin: 1.5rem;
  border: 0.2rem solid color(primary-text-color);
}

.item-card-front {
  height: 100%;
  width: 100%;
}

.item-card-back {
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.flipCard {
  transform: rotateY(180deg);
}

@include mobile {
  .item-card {
    width: 60vh;
    height: 30vh;
  }

  .item-grid {
    width: 75vw;
  }
}
